@CHARSET "UTF-8";


body{
	padding-left:2em;
	padding-right:2em;
	max-width:107em;
}

.menuLeft{
	float:left;
	width:75%;
}

.affichage{
	background:grey;
	width:90%;
	height:12em;
	border: 1px solid black;
}

.listeEmprunt{
	width:90%;
}

.listeOeuvre{
	width:90%;
}

.listeEtudiant{
	width:90%;
}

.menuRight{
	width:25%;
	float:right;
	margin-top:-1.7em;
}s

.form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

.form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.display{
	color:white;
	padding-top:2em;
	font-size: 2em;
	text-align: center;
	margin-left:1.5em;
		margin-right:1.5em;
	
}

hr{
	margin-bottom:15px;
	border: 0;
 	 border-top: 1px solid #d9d9d9;
}

h3:hover{
	cursor: pointer;
}
