<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Page principale</title>
</head>
<body>
<br>


<h1>Administration bibliothèque</h1>

<div>
<h2>Liste des oeuvres</h2>
<table>
<tbody>
<tr>
	<th>Titre de l'oeuvre</th>
	<th>Nombre disponible</th>
	</tr>
	
	<tr data-ng-repeat="data in menuController.oeuvre">
	<td>{{data.nomCatalogue}}</td>
	<td>{{data.nbDispo}}</td>
	</tr>
	</tbody>
</table>
</div>



<button class="btn" data-ng-click="scanBook()">Scanner Livre</button>
<div>
<table>
<tbody>
<tr>Uidproduit: {{menuController.readCardInfo[0].uidProduit}}</tr>
<tr>ID catalogue: {{menuController.readCardInfo[0].idCatalogue}}</tr>
<tr>Nom catalogue: {{menuController.readCardInfo[0].nomCatalogue}}</tr>
<tr>Disponibilité: {{menuController.readCardInfo[0].dispo}}</tr>
</tbody>
</table>
</div>

</body>
</html>