<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page principale</title>
</head>
<body>
	<br>


	<h1>Administration Biblothèque</h1>

<section class="menuLeft">
	<div class="affichage">
		<h1 class="display">{{menuController.affichage}}</h1>
	</div>

	<div class="listeOeuvre">
		<h3>Liste des oeuvres</h3>
		<table>
			<tbody>
			<thead>
				<tr>
					<th>Oeuvre</th>
					<th>Disponible</th>
				</tr>
			</thead>
				<tr data-ng-repeat="data in menuController.oeuvre">
					<td>{{data.nomCatalogue}}</td>
					<td>{{data.nbDispo}}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="listeEmprunt">
		<h3>Liste des Emprunts</h3>
		<table>
			<tbody>
			<thead>
				<tr>
					<th>Etudiant</th>
					<th>Oeuvre</th>
				</tr>
			</thead>
				<tr data-ng-repeat="data in menuController.emprunt">
					<td>Marcel Proust</td>
					<td>Angular for the dummies</td>
				</tr>
			</tbody>
		</table>
	</div>



<!-- 	<div> -->
<!-- 		<table> -->
<!-- 			<tbody> -->
<!-- 				<tr>Uidproduit: {{menuController.readCardInfo[0].uidProduit}}</tr> -->
<!-- 				<tr>ID catalogue:{{menuController.readCardInfo[0].idCatalogue}}</tr> -->
<!-- 				<tr>Nom catalogue: -->
<!-- 					{{menuController.readCardInfo[0].nomCatalogue}} -->
<!-- 				</tr> -->
<!-- 				<tr>Disponibilité: {{menuController.readCardInfo[0].dispo}} -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
<!-- 		</table> -->
<!-- 	</div> -->

</section>


<section class="menuRight">
			<button class="btn" data-ng-click="deleteEntUser()">Supprimer Utilisateur</button>
			<button class="btn" data-ng-click="deleteEntBook()">Supprimer Livre</button>
			
			<button class="btn" data-ng-click="collapsed=!collapsed">Ajouter Utilisateur</button>
			<div data-ng-show="collapsed">
				<form novalidate class="form" action="">
				
					<input type="text" data-ng-model="data.nom" placeholder="nom" required>
					<input type="text" data-ng-model="data.prenom" placeholder="prenom" required>
					<input type="submit" data-ng-click="addEntity(data)" value="Enregistrer" />
				
				</form>
			</div>
			<button class="btn" data-ng-click="collapsed2=!collapsed2">Ajouter Livre</button>
			<div data-ng-show="collapsed2">
				<form novalidate class="form" action="">
				
					<input type="text" data-ng-model="data.idCatalogue" required>
					<input type="submit" data-ng-click="addEntity(data)" value="Enregistrer" />
				
				</form>
			</div>
</section>



</body>
</html>