<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page principale</title>
</head>
<body>
	<br>


	<h1>Administration Bibliothèque</h1>

<!-- Menu Affichage -->
<section class="menuLeft">
	<div class="affichage">
		<h1 class="display">{{menuController.affichage}}</h1>
        <h1 data-ng-if></h1>
	</div>

<div class="listeEmprunt">
		<h3 data-ng-click="isCollapsed1 = !isCollapsed1" ><span class="glyphicon glyphicon-share glyphicon glyphicon-book"></span> Liste des Emprunts 
		<span  class="glyphicon" data-ng-class="{'glyphicon glyphicon-chevron-down':isCollapsed1, 'glyphicon glyphicon-chevron-right':!isCollapsed1}"></span>
		</h3>
		<table data-ng-show="isCollapsed1" class="table table-striped">
			<tbody>
			<thead>
				<tr>
					<th>Etudiant</th>
					<th>Oeuvre</th>
					<th>Date</th>
					
				</tr>
			</thead>
				<tr data-ng-repeat="data in menuController.emprunts[0]">
					<td>{{data.etudiant}}</td>
					<td>{{data.nomCatalogue}}</td>
					<td>{{data.date}}</td>
				</tr>
			</tbody>
		</table>
		<hr>
	</div>

	<div class="listeOeuvre">
		<h3 data-ng-click="isCollapsed2 = !isCollapsed2"><span class="glyphicon glyphicon-book"></span> Liste des Oeuvres 
		<span  class="glyphicon" data-ng-class="{'glyphicon glyphicon-chevron-down':isCollapsed2, 'glyphicon glyphicon-chevron-right':!isCollapsed2}"></span>
		</h3>
		<table data-ng-show="isCollapsed2" class="table table-striped">
			<tbody>
			<thead>
				<tr>
					<th>Titre</th>
					<th>Auteur</th>
					<th>Type</th>
					<th>Catégorie</th>
					<th>En circulation</th>
					<th>Disponibles</th>
				</tr>
			</thead>
				<tr data-ng-repeat="(i,dataOeuvre) in menuController.oeuvre[0]">
					<td>{{dataOeuvre.nomCatalogue}}</td>
					<td>{{dataOeuvre.auteur}}</td>
					<td>{{dataOeuvre.type}}</td>
					<td>{{dataOeuvre.categorie}}</td>
					<td>{{dataOeuvre.nbTotal}}</td>
					<td>{{dataOeuvre.nbDispo}}</td>
				</tr>
			</tbody>
		</table>
				<hr>
		
	</div>

<div class="listeEtudiant">
		<h3 data-ng-click="isCollapsed3 = !isCollapsed3" ><span class="glyphicon glyphicon-user"></span> Liste des Etudiants
			<span  class="glyphicon" data-ng-class="{'glyphicon glyphicon-chevron-down':isCollapsed3, 'glyphicon glyphicon-chevron-right':!isCollapsed3}"></span>
		</h3>
		<table data-ng-show="isCollapsed3" class="table table-striped">
			<tbody>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Nombre d'emprunts</th>
				</tr>
			</thead>
				<tr data-ng-repeat="data in menuController.users[0]">
					<td>{{data.nomUser}}</td>
					<td>{{data.prenomUser}}</td>
					<td>{{data.nbEmprunt}}</td>
				</tr>
			</tbody>
		</table>
				<hr>
		
	</div>

</section>

<!-- Menu droit -->
<section class="menuRight">

	<!-- Emprunt Retour -->

		<h3>Gestion Emprunt</h3>
		<hr>
		<div>
			
			<button style="width:49%;" class="btn btn-primary btn-lg" data-ng-click="emprunt()">Emprunt</button>
			<button style="width:49%;" class="btn btn-warning btn-lg" data-ng-click="retour()">Retour</button>
		</div>
	<!-- Ajout -->
		
		<h3>Administration</h3>
		<hr>
		<div>
					
			<button style="display:block;width:100%;" class="btn btn btn-info btn-lg" data-ng-click="collapsed=!collapsed">Ajouter Utilisateur</button>
			<div style="margin-top:0.3em;"data-ng-show="collapsed">
				<form class="form-inline" novalidate action="">
				
					<input type="text" data-ng-model="data.nom" placeholder="nom" required>
					<br>
					<input type="text" data-ng-model="data.prenom" placeholder="prenom" required>
					<br>
					<input style="margin-top:0.3em;" type="submit" class="btn btn-default" data-ng-click="addEntity(data)" value="Enregistrer" />
				
				</form>
			</div>
			
			<button style="display:block;width:100%; margin-top:0.3em;" class="btn btn-info btn-lg" data-ng-click="collapsed2=!collapsed2">Ajouter Livre</button>
			<div style="margin-top:0.3em;" data-ng-show="collapsed2">
				<form class="form-inline"  novalidate action="">
					<input type="text" class="search" ng-model="searchData"
							placeholder="Titre du livre"
							uib-typeahead="book as book.nomCatalogue for book in getSearchBook($viewValue)"
							class="form-control" required/> 	
							<br>
					<input style="margin-top:0.3em;" type="submit" class="btn btn-default" data-ng-click="addEntity(searchData.idCatalogue)" value="Enregistrer" />
				
				</form>
			</div>
			
			<button style="display:block;width:100%; margin-top:0.3em;" class="btn btn-info btn-lg" data-ng-click="collapsed3=!collapsed3">Ajouter Oeuvre</button>
			<div style="margin-top:0.3em;" data-ng-show="collapsed3">
				<form class="form-inline"  novalidate action="">
					
					<input type="text" data-ng-model="data.nomCatalogue" placeholder="nomCatalogue" required>
					<br/>
					<input type="text" data-ng-model="data.auteur" placeholder="auteur" required>
										<br/>
					
					<input type="text" data-ng-model="data.type" placeholder="type" required>
										<br/>
					
					<input type="text" data-ng-model="data.categorie" placeholder="categorie" required>	
										<br/>
							
					<input style="margin-top:0.3em;" type="submit" class="btn btn-default" data-ng-click="addOeuvre(data)" value="Enregistrer" />
				
				</form>
			</div>
			
		</div>
		
	<!-- Suppression -->
		<h3>Suppression</h3>
		<hr>
		<div>
			<button style="display:block; width:100%;" class="btn btn-danger btn-lg" data-ng-click="deleteEntUser()">Supprimer Utilisateur</button>
			<button style="display:block; width:100%; margin-top:0.3em;" class="btn btn-danger btn-lg" data-ng-click="deleteEntBook()">Supprimer Livre</button>
			
			<button style="display:block; width:100%; margin-top:0.3em;" class="btn btn-danger btn-lg" data-ng-click="collapsed4=!collapsed4">Supprimer Oeuvre</button>
				<div style="margin-top:0.3em;" data-ng-show="collapsed4">
					<form class="form-inline" novalidate action="">
						
						<input type="text" class="search" ng-model="searchDataSupp"
								placeholder="Titre de l'oeuvre"
								uib-typeahead="book as book.nomCatalogue for book in getSearchBook($viewValue)"
								class="form-control" required/> 	
								<br>
						<input style="margin-top:0.3em;" type="submit" class="btn btn-default" data-ng-click="deleteOeuvre(searchDataSupp)" value="Suppression" />
						
					</form>
				</div>
		</div>
		
</section>

</body>
</html>